@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

//FONTS
$handwriting: 'Indie Flower', serif;
$sans: 'Open Sans', sans-serif;

//COLORS

$white: #fff;
$dusty-rose: #753535;
$black: #000;


