@import './../../sass/variables';

#Footer {
    width: 100vw;
    height: 75px;
    background-color: $white;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 50px;
        width: 50px;
    }
}