@import './../../sass/variables';

#Work {
    width: 100vw;
    background-color: $white;
    margin-bottom: 50px;

    header {
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            width: calc(25vw / 2);
            height: 100%;
        }
        h1 {
            width: 75vw;
            height: 120px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $black;
            color: $white;
            text-align: center;

            font: {
                family: $handwriting;
                size: 2.5rem;
            }

            z-index: 1;
        }
    }

    section {
        width: 100vw;
        overflow: scroll;

        display: none;
    }

    .flexContainer {
        height: 400px;
        width: calc((6 * 650px) + (7 * 100px));

        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .project{
        width: 650px !important;
        height: 350px;
        margin: 0 50px;
        background-color: $black;
        color: $white;
        padding-top: 10px;
        &:hover {
            h3{
                color: $black;
            }
            background-color: $dusty-rose;
        }

        .projectLeft,
        .projectRight {
            width: calc(650px / 2);
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .projectLeft {
            padding-right: 15px;
            justify-content: flex-end;

            p {
                width: 275px;
                text-align: center;
            }
        }
        .projectRight {
            padding-left: 15px;
            justify-content: flex-start;
        }

        a {
            color: $white;
            text-decoration: none;
            position: relative;
        }

        h2 {
            width: 100%;
            height: 50px;
            padding: 5px 10px;
            text-align: center;
            font: {
                size: 2.5rem;
                family: $handwriting;
            }
        }
        h3 {
            width: 100%;
            padding: 5px 10px;
            text-align: center;
            color: $dusty-rose;
            font: {
                size: 1.2rem;
                family: $sans;
            }
        }
        div {
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 275px;
            height: 184px;
            border: 1px solid lightgrey;
            cursor: pointer;
        }
        .videoTriangle {
            opacity: 1;
            width: 275px;
            height: 184px;
            &:hover {
                background-color: rgba(0,0,0,0.5);
            }
        }
        
        .info {
            letter-spacing: 0.05em;
            line-height: 1.2em;
            font: {
                family: $sans;
                size: 90%;
            }
            li {
                margin-bottom: 10px;
            }
        }

    }
}

@media (min-width: 650px) {
    #Work {
        header {
            h1 {
                font-size: 4rem;
            }
        }
    }
}